#hello {
	#triangle {
		position: absolute;
		top:0px;
		left:50%;
		z-index: 10;
		margin-left: -45px;
		width:90px;
		height:45px;
	}
	h2 {
		margin:0 !important;
	}
	.content {
		overflow: hidden;
	}
	.hello {
		width:50%;
		height:300px;
		float:left;
		position:relative;
	}
	.four {

	}
	@media screen and (min-width: 480px) { /*TAB PORTRAIT */
		.hello:nth-child(3) {
			clear:left;
			}
		}
	
	.one {
		background-color:#dadada;
		
		display:-moz-box;
		display: flex;
  		justify-content: center;
  		align-items: center;
  		display: -webkit-inline-box;
    	-webkit-box-pack: center;
    	-webkit-box-align: center
	}
	
	.two {
		background-color: #e61c3f;
    	color: #a5142d;
	    text-transform: uppercase;
	    font-family: courier;
	    font-size: 2.25em;
	    line-height: 1.2;
	    padding: 0;
	    display:table;
	    
	    	span {
	    		display: table-cell;
	    		vertical-align: top;
	    		position: relative;
	    		top: 30px;
	    		left: 30px;
	    	}
		}
	
	.three {
		background-color:#bfabaa;
		overflow: hidden;
		}	

	img#me {
		position:absolute;
		bottom:-90px;
		left:0;
			@media screen and (min-width: 991px) { 
				bottom:-90px;
				left:0;
				}/*TAB PORTRAIT */
	}	
	.four {
		background-color:#938180;
		/*
		display:-webkit-box;
		display:-webkit-flex;
		display: flex;
  		-webkit-box-align:center;
  		-webkit-align-items:center;
  		-webkit-box-pack:center;
  		-webkit-justify-content: center;
  		
  		align-items: center;
  		*/
		img {
			cursor:pointer;
			display:block;
			margin:0 auto;
		}
		.more-info-icon {
			color:#000;
			font-size:70px;
			background-color:#dadada;
			/*position: relative;*/
			z-index:10;
			/* -webkit-box-flex:1; */
			cursor:pointer;
			position:absolute;
			top:50%;
			left:50%;
			margin-top: -50px;
			margin-left:-50px;
			height:100px;
			width:100px;
			border-radius:50px;
			text-align: center;
			/*display: flex;
			vertical-align: middle; */
			padding-top: 15px;

		}
		.more-info-icon:hover {
			color:#e61c3f;
			background-color:#fff;
		}
		.fa-info:before {
		    content: "\f129";
		    /*top: 0;
		    position: relative; */
		}

		.info-text-wrapper {
			opacity:0;
			display:block;
			position:absolute;
			top:0;
			left:0;
			z-index:1;
			height:300px;
			overflow-y:scroll;
			vertical-align: top;
			padding-bottom: 40px;
			p {
				text-align:left !important;	
				color:#fff;
				font-size:12px;
				line-height: 20px;
			}
			ul#skills-list {
				list-style-type: none;
				color:#fff;
				font-size:12px;	
				}
			}
			::-webkit-scrollbar {
			  width: 10px;
			  height: 10px;
			}
			::-webkit-scrollbar-button {
			  width: 0px;
			  height: 0px;
			}
			::-webkit-scrollbar-thumb {
			  /*  background: #e1e1e1; */
			  /*background:#bfabaa;*/
			  background:#efefef;
			  border: 0px none #ffffff;
			  border-radius: 26px;
			}
			::-webkit-scrollbar-thumb:hover {
			  background: #a5142d;
			} 
			::-webkit-scrollbar-thumb:active {
			  background: #a5142d;
			}
			::-webkit-scrollbar-track {
			  background: #dadada; 
			  border: 0px none #ffffff;
			  border-radius: 0px;
			}
			/*
			::-webkit-scrollbar-track:hover {
			  background: #666666;
			}
			::-webkit-scrollbar-track:active {
			  background: #333333;
			} */
			::-webkit-scrollbar-corner {
			  background: transparent;
			}
			.cover-bar {
				position:absolute;
				right:0;
				top:0;
				height:100%;
				background-color:#938180;
				/* background-color:orange; */
				z-index: 100;
				width:15px;
				opacity: 1;
			}
			a {
				color:#e61c3f;
				text-decoration:none;
				font-weight:700;
				&:hover{text-decoration:underline;color:orange;-webkit-transition: all .5s;}
			}
			/*.info-text-wrapper:hover .cover-bar {
				opacity: 0;
				visibility: hidden;
  				-webkit-transition: all .5s;
			} */
			
	} /* END FOUR */
} /* END HELLO */
	.four:hover .cover-bar {
		opacity: 0;
		
		-webkit-transition: all .5s;
	}
@media screen and (max-width: 479px) { /*TAB PORTRAIT */
	.hello {
		width:100% !important;
		clear:both;
	}
	.one {
		padding-top: 75px;
	}
	

	#hello {
		padding-bottom: 0;
	}
	#hello img#me {
		bottom: -45px;
		left: 0px;
	}
}